*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
      font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}
/* Header styling */

header h1 {
 background-color: #761616;
 color: white;
 padding: 1rem;
  text-align: center;
}

/* Navigation */
nav{
  color: #715555;
  text-align: center;
}
nav a{
  color: #715555;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

/*galler section*/
.Gallery h3{
   text-align: center;
   font-weight: 500;
   margin-top: 40px; 
   color: #71c242;
   font-size: 34px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   position: relative;


   

}
.Gallery .card{
  position: relative;
   padding: 0 16px;
   display: grid;
   padding: 16px;
   grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
   gap: 16px;
}
/*Images*/
   .Gallery img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.07);
     transition: transform 0.3s ease, box-shadow 0.2s ease;
}


.Gallery img:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 14px 22px rgba(0, 0, 0, 0.12);
  filter: brightness(1.05);
}
/*footer*/
footer{
  background-color: #715555;
  color: #71c242;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;

}





   





  
}


}
